div {
    display: flex;
    align-items: center;
    
}

.inner-links {
    width: 100%;
    justify-content: space-around;
}

.links {
    width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.orders-count {
    padding-right: 1vw;
}