<section class="container">
    <div class="description">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque hic repudiandae nulla veniam dolorem harum delectus eveniet obcaecati qui illum dolor, nisi deserunt eum commodi. Repellendus ullam, aspernatur soluta dolorem cum eius fugiat excepturi, mollitia eveniet iure enim doloremque iste quod accusamus voluptates deserunt obcaecati repudiandae molestiae, reiciendis quos earum sed consectetur tempore dicta. Qui impedit porro illo quia sapiente eligendi iure eius ut debitis! Mollitia dignissimos id saepe ab?</p>
    </div>
    <div class="image">
        <img src="../../../../assets/images/about-us-section/about.png" alt="">
    </div>
</section>