.container {
    height: 100%;
    display: flex;
}

.container > div {
    width: 40%;
    margin: auto;
}

.description {
    text-align: left;
}

h1 {
    font-size: xxx-large;
}

p {
    color: var(--clr800);
}

p > span {
    color: var(--clr400);
    text-decoration: underline;
    font-size: 1.3em;
}

img {
    width: 100%;
}