<div class="container">
    <div class="description">
        <h1>About Us</h1>

        <p>
            Welcome to Super-marCat&trade; the extremely green convenient store. <br>
            We invite you to enjoy <span>{{productsState.productsCount}}</span> environmental friendly products. <br>
            10% of our income is donated to anti animal cruelty charities all over the world. <br>
            <br>
            Thank you for choosing us as your groceries suppliers.
        </p>
    
    </div>
    <div class="image">
        <img src="../../../../assets/images/about-us-section/about.png" alt="">
    </div>
</div>