<div>
    <h3>Edit Product</h3>    
    <form #addProductForm="ngForm" (ngSubmit)="editProduct()">

        <mat-form-field appearance="outline">
            <mat-label>Product Name:</mat-label>
            <input #productName="ngModel" matInput type="text" name="productName" [(ngModel)]="product.productName" required minlength="2">
        </mat-form-field>
        <app-validation-error-handler [fieldName]="productName" minLength="2"></app-validation-error-handler>
        
        <mat-form-field appearance="outline">
            <mat-label>Category: </mat-label>
            <mat-select #categoryId="ngModel" name="categoryId" [(ngModel)]="product.categoryId" required>
                <mat-option *ngFor="let cat of categories" [value]="cat._id">{{cat.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <app-validation-error-handler [fieldName]="categoryId"></app-validation-error-handler>
    
        <mat-form-field appearance="outline">
            <mat-label>Price: </mat-label>
            <input #price="ngModel" matInput type="number" step="0.01" name="price" min="0.01" [(ngModel)]="product.price" required>
        </mat-form-field>
        <app-validation-error-handler [fieldName]="price" min="0.01"></app-validation-error-handler>
            
        <mat-form-field appearance="outline">
            <mat-label>Image: </mat-label>
            <ngx-mat-file-input #image="ngModel" type="file" accept="image/*" name="image" [(ngModel)]="product.image"></ngx-mat-file-input>
        </mat-form-field>
        <app-validation-error-handler [fieldName]="image"></app-validation-error-handler>
       
        <button [disabled]="addProductForm.invalid">Edit Product</button>
    </form>
</div>