.container {
    width: 60%;
    margin: auto;
    position: relative;
}

button {
    /* position: absolute; */
    /* right: 0; */
    /* transform: translateX(-100%); */
}


@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }

}