.card {
    width: 100%;
    padding: 8%;
    background-color: var(--clr200);
    border-radius: 20px;
}

.image {
    height: 80%;
}

img {
    width: 100%;
    aspect-ratio: 1;
}

.description {
    display: flex;
    justify-content: space-between;
}

h3 {
    font-family: var(--font400);
    font-size: 2em;
}

.add-quantity {
    display: flex;
    justify-content: space-between;
}

input {
    width: 50%;
}