<div class="card">
    <span (click)="deleteProduct(product._id)" *ngIf="authState.isAdmin">
        <img src="../../../../assets/images/general/close.png" alt="">
    </span>
    <span (click)="editProduct(product._id)" *ngIf="authState.isAdmin">
        <img src="../../../../assets/images/general/edit.png" alt="">
    </span>

    <div class="image" mat-button (click)="openDialog()">
        <img [src]="imagesUrl + product.imageName" alt="">
    </div>
    <div class="description">
        <h3>{{product.productName}}</h3>
        <h3>{{product.price | currency}}</h3>
    </div>
    <div class="add-quantity">
        <input type="number" step="1" min="1" [defaultValue]="1" [(ngModel)]="quantity">
        <button (click)="addToCart()">ADD TO CART</button>
    </div>
</div>