.card {
    padding: 3%;
    background-color: var(--clr200);
    border-radius: 20px;
    width: 50%;
}

img {
    width: 60%;
    aspect-ratio: 1;
}

.description {
    display: flex;
    justify-content: space-between;
}

h3 {
    font-family: var(--font400);
}

.add-quantity {
    display: flex;
    justify-content: space-between;
}

input {
    width: 50%;
}