<div>
    <h2>Categories</h2>
    <div *ngIf="!screenSize.isSizeSmaller1400()">
        <a *ngFor="let category of categoriesNamesForImages" routerLink="shop/{{category.toLowerCase()}}">
            <div class="inner-div">
                <img src="../../../../assets/images/categories-icons/{{category.toLowerCase()}}.png" alt="">
                <p>{{category}}</p>
            </div>
        </a>

    </div>
    <carousel *ngIf="screenSize.isSizeSmaller1400()" [height]="100" [width]="getScreenWidth-100" [cellsToShow]="numberOfDisplayedItemsInCarousel" class="centered">
        <div *ngFor="let category of categoriesNamesForImages" class="carousel-cell">
                <a routerLink="shop/{{category.toLowerCase()}}">
                <img src="../../../../assets/images/categories-icons/{{category.toLowerCase()}}.png" alt="">
                <p>{{category}}</p>
                </a>
            </div>
    </carousel>
</div>
