form {
    width: 30%;
    margin: auto;
    text-align: left;
}

label, input, select {
    width: 100%;
}

input, select {
    margin-bottom: 20px;
}

button {
    margin-left: 50%;
    transform: translateX(-50%);
}