<div>
    <div>
        <div class="cart-tab" [ngClass]="{'hide' : isCartShown}" (click)="cartClicked()">
            <img src="../../../../assets/images/cart-related/shopping-cart.svg">
        </div>
        <div class="side-cart" [ngClass]="{'show-cart' : isCartShown}">
            <app-my-cart [seeCart]="isCartShown" (isCartClicked)="cartClicked()"></app-my-cart>
        </div>
        <main>
            <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
        </main>
    </div>
</div>