div {
    position: relative;
    padding: 2% 0;
}

div > div {
    transition: all 0.5s ease-in-out;
}

div > div > main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0% 0% 5%;
    gap: 3%;
}

.cart-tab {
    position: fixed;
    left: 0;
    top: 30vh;
    height: 8vh;
    aspect-ratio: 0.8;
    background-color: var(--clr800);
    border-radius: 0 25% 25% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.45s ease-in;
}

.hover-tab,
.cart-tab:hover {
    aspect-ratio: 1;
    transition: all 0.15s ease-in-out;
}

.cart-tab:active {
    transition: all 0.05s ease-in-out;
    aspect-ratio: 1.2;
}

.cart-tab > img {
    width: 70%;
}

.hide {
    display: none;
}

.side-cart {
    min-width: 30%;
    max-height: 40vh;
    overflow-y: scroll;
    position: fixed;
    top: 38vh;
    padding: 20px;
    background-color: var(--clr200);
    border: 2px solid var(--clr400);
    box-shadow: 3px 3px 6px 3px var(--clr800);
    transform: translateX(-110%);
    transition: all 0.5s ease-in-out;
    z-index: 100;
}

.side-cart::-webkit-scrollbar {
    background-color: var(--clr200);
    width: var(--scrollbarWidth);
}

.side-cart::-webkit-scrollbar-thumb {
    background-color: var(--clr400);
    border-radius: var(--scrollbarWidth);
}

.show-cart {
    transform: translateX(0);
}
