img {
    width: 15px;
}

img:hover {
    opacity: 0.5;
}

.cart > img:nth-child(1) {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.cart {
    width: 100%;
    padding: 5% 0;

}

table {
    width: 100%;
}

td, th {
    border-bottom: 2px dashed var(--clr400);
}

tbody > tr:last-child {
    font-weight: 800;
    color: var(--clr800);
}

td input {
    text-align: right;
}

input {
    width: 50%;
    border-radius: 5px;
}

p {
    text-align: right;
}

.hide {
    display: none;
}

.btn-area {
    display: flex;
    justify-content: space-around;
}

.empty-cart-btn:hover {
    background-color: rgb(203, 89, 89);
    color: white;
}

