.cart > span:nth-child(1) {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

table {
    width: 100%;
}

td, th {
    border-bottom: 2px dashed var(--clr400);
    padding: 18px;
}

tbody > tr:last-child {
    font-weight: 800;
    color: var(--clr800);
}

p {
    text-align: right;
}
