div {
    padding: 5%;
}

form {
    width: 35%;
    margin: auto;
    border: 1px solid var(--clr200);
}

.fields {
    text-align: left;
}

label, input, select {
    width: 100%;
}

input {
    margin-bottom: 10px;
}

.step-no-show {
    display: none;
}