.boxes {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-around;
}

.category-box {
    position: relative;
    background-color: var(--clr400);
    border-radius: 40%;
    width: 32%;
    aspect-ratio: 1;
    display: grid;
    align-content: center;
}

.category-box > img { 
    width: 50%;
    position: absolute;
    transform: translate(50%, -50%);
}

h2 {
    font-family: var(--font400);
}

h3 {
    color: var(--clr000);
    font-size: 2em;
}

button {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}