.boxes {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-around;
}

.category-box {
    position: relative;
    background-color: var(--clr400);
    border-radius: 40%;
    width: 32%;
    aspect-ratio: 1;
    display: grid;
    align-content: center;
}

.category-box > img { 
    width: 50%;
    position: absolute;
    transform: translate(50%, -50%);
}

h2 {
    font-family: var(--font400);
}

h3 {
    color: var(--clr000);
    font-size: 2em;
}

button {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 600px) {
    .boxes {
        flex-direction: column;
    }

    .category-box {
        width: 100%;
        margin: 15% 0;
    }

    .category-box:nth-child(2) {
        margin-top: 20%;
    }

    button {
        font-size: 0.7em;
        padding: 6%;
    }
}