<div class="container">
    <div class="image">
        <img src="../../../../assets/images/discount-section/discount.png" alt="">
    </div>
    <div class="description">
        <h2>Get {{discountPercentage}}% discount</h2>
        
        <div class="par">
            <p>Do you have an account already? write your email and get {{discountPercentage}}% off of your order</p>
        </div>
    
        <div class="email-form">
            <input type="text" placeholder="yourmail@mail.com">
            <button>SEND</button>
        </div>
    </div>
</div>