<div class="container">
    <div class="image">
        <img src="../../../../assets/images/discount-section/discount.png" alt="">
    </div>
    <div class="description">
        <h2>Get {{discountPercentage}}% discount</h2>
        
        <div class="par">
            <p>Do you have an account already? write your email and get {{discountPercentage}}% off of your order</p>
        </div>
    
        <form #emailForm="ngForm" class="email-form">
            <input #email="ngModel" type="text" placeholder="yourmail@mail.com" name="email" [(ngModel)]="discountEmailRecipient" required [pattern]="emailRegex">
            <button [disabled]="emailForm.invalid" (click)="sendDiscount()">SEND</button>
            <app-validation-error-handler [fieldName]="email" ></app-validation-error-handler>
        </form>
    </div>
</div>