<form (ngSubmit)="checkOut()" #checkoutForm="ngForm">
    <p>Total Cart: {{cartState.getTotalPrice | currency}}</p>

    <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <mat-select name="cityId" [(ngModel)]="order.cityId" #cityBox="ngModel" required>
          <mat-option *ngFor="let city of cities" [value]="city._id">{{city.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <app-validation-error-handler [fieldName]="cityBox"></app-validation-error-handler>
    
    <mat-form-field appearance="outline">
        <mat-label>Street</mat-label>
        <input matInput type="text" name="street" [(ngModel)]="order.street" #streetBox="ngModel" required />
    </mat-form-field>
    <app-validation-error-handler [fieldName]="streetBox"></app-validation-error-handler>
    
    <mat-form-field appearance="outline">
        <mat-label>Shipping Date</mat-label>
        <input matInput type="date" name="deliveryDate" [(ngModel)]="order.deliveryDate" #shippingDateBox="ngModel" required />
    </mat-form-field>
    <app-validation-error-handler [fieldName]="shippingDateBox"></app-validation-error-handler>
    
    <label>Payments:</label>
    
    <mat-form-field appearance="outline">
        <mat-label>Credit Card:</mat-label>
        <input matInput type="number" minlength="4" name="fourLastDigits" [(ngModel)]="order.fourLastDigits" #creditCartBox="ngModel" required />
    </mat-form-field>
    <app-validation-error-handler [fieldName]="creditCartBox" minLength="4"></app-validation-error-handler>
    
    <button [disabled]="checkoutForm.invalid">Order</button>
</form>