div {
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 0.6fr 5fr min-content 0.5fr;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: var(--clr400);
}

main {
    height: max-content;
}

footer {
    background-color: var(--clr400);
}


